.contenedor{
    padding: 5px;
    background-color: rgb(221, 222, 255);
    display: grid;
    grid-template-columns: 0.10fr 2fr 0.50fr;
    grid-template-rows: 0.50 2fr 5fr 0.50fr;
    grid-template-areas: "logo   nav    nav"
                         "cont1  cont1  cont3"
                         "cont2  cont2  cont3"
                         "foot   foot   foot";
}
.logo{
    grid-area: logo;
    border-radius: 10%;
}
.header{
    grid-area: header;
}
.nav{
    grid-area: nav;
   
    
}
.cont1{
    grid-area: cont1;
    
}
.cont2{
    grid-area: cont2;
}
.cont3{
    grid-area: cont3;
    padding: 5px;
    font-size: 25px ;
    height: 100px;
}
.foot{
    grid-area: foot;
    
}

